<% layout('layouts/boilerplate') -%>
<body>
  <div class="individualListing">

    <li><b><%= listing.title %></b></li>

    <li>
      <img src="<%= listing.image.url %>" alt="Image">
    </li>

    <li>
      <b>Owner:</b> <%= listing.owner.username %>
    </li>

    <li><%= listing.description %></li>
    <li>Price: $<%= listing.price %></li>
    <li>Location: <%= listing.location %></li>
    <li>Country: <%= listing.country %></li>

    <% if (isOwner) { %>
      <div class="btns">
        <form action="/listings/<%= listing.id %>?_method=DELETE" method="POST">
          <button type="submit" id="deleteBtn">Delete</button>
        </form>

        <form action="/listings/<%= listing.id %>/edit" method="GET">
          <button type="submit" id="deleteBtn">Edit</button>
        </form>
      </div>
    <% } %>

    <% if (currUser) { %>
      <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate>
        <h3>Leave Comment</h3>

    <fieldset class="starability-slot">
      <legend>Rating:</legend>
        <% for (let i = 1; i <= 5; i++) { %>
          <input type="radio" id="star<%= i %>" name="review[rating]" value="<%= i %>" required>
          <label for="star<%= i %>">⭐</label>
        <% } %>
    </fieldset>


        <label class="form-label">Comment:</label>
        <input type="text" name="review[comment]" class="form-control" required>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    <% } %>

    <hr>
    <h3>All Reviews</h3>

    <div class="allReviews">
      <% for (let review of listing.reviews) { %>
        <form action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE"
              method="POST"
              class="review card m-2">

          <li><b><%= review.author.username %></b></li>
          <li><%= review.comment %></li>

          <p class="starability-result" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
          </p>

          <% if (currUser && review.author._id.equals(currUser._id)) { %>
            <button type="submit" class="btn btn-primary">Delete</button>
          <% } %>

        </form>
      <% } %>
    </div>

  </div>
  
</body>
